<section id="requestform">
    <%= form_for @quote, url:{action:"create"} do |f| %>
    <div class="container">
        <div class="row">
            <!-- FORM -->

            <div class="card col-md-8 col-sm-8 text-center">
                <h3 class=" mt-30">Please Fill the Form Below </h3>
                <div class="card-body row form-group">
                    <div class="col-md-6">
                        <label for="quote_Full_Name" class="">Full Name </label>
                        <input class="used-in-calc form-control" id="quote_Full_Name" type="text" name="quote[Full_Name]">
                    </div>
                    <div class="col-md-6">
                        <label for="quote_Phone_Number">Phone Number </label>
                        <input class="used-in-calc form-control" name="quote[Phone_Number]" id="quote_Phone_Number" type="text">
                    </div>
                    <div class="col-md-6 mt-40">
                        <label for="quote_Company_Name">Company Name</label>
                        <input class="used-in-calc form-control" name="quote[Company_Name]" id="quote_Company_Name" type="text">
                    </div>
                    <div class="col-md-6 mt-40">
                        <label for="quote_Email">Email</label>
                        <input class="used-in-calc form-control" name="quote[Email]" id="quote_Email" type="text">
                    </div>
                </div>

                <div class="card-body row d-flex justify-content-center text-center">
                    <div class="col-md-6">
                        <label for=" quote_Building_Type">Building Type </label>
                        <select id="buildingSelect" required class="form-control pointer" name="quote[Building_Type]">
                            <option value="">--- Select ---</option>
                            <option value="Residential">Residential</option>
                            <option value="Commercial">Commercial</option>
                            <option value="Corporate">Corporate</option>
                            <option value="Hybrid">Hybrid</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 r-form r-form-res">
                        <label for="quote_Nb_Appartement">Nb Apartment </label>
                        <input class="used-in-calc form-control" name="quote[Nb_Appartement]" id="quote_Nb_Appartement" type="text">
                    </div>
                    <div class="col-md-4 r-form r-form-com r-form-hyb">
                        <label for="quote_Nb_Business">Nb Business</label>
                        <input name="quote[Nb_Business]" id="quote_Nb_Business" type="text" class="form-control">
                    </div>
                    <div class="col-md-4 r-form r-form-cor">
                        <label for="quote_Full_Name"># of Companies</label>
                        <input name="quote[Nb_Company]" id="" type="text" class="form-control">
                    </div>
                    <div class="col-md-4 r-form r-form-res r-form-com r-form-cor r-form-hyb">
                        <label for="quote_Nb_Floor"> Nb Floor</label>
                        <input class="used-in-calc form-control" name="quote[Nb_Floor]" id="quote_Nb_Floor" type="text">
                    </div>
                    <div class="col-md-4 r-form r-form-res r-form-com r-form-cor r-form-hyb">
                        <label for="quote_Nb_Basement"> Nb Basement </label>
                        <input class="used-in-calc form-control" name="quote[Nb_Basement]" id="quote_Nb_Basement" type="text">
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-4 r-form r-form-com r-form-cor r-form-hyb mt-40">
                        <label for="quote_Nb_Parking">Nb Parking</label>
                        <input class="used-in-calc form-control" name="quote[Nb_Parking]" id="quote_Nb_Parking" type="text">
                    </div>
                    <div class="col-md-4 r-form r-form-com mt-40">
                        <label for="quote_Nb_Cage">Nb Cage</label>
                        <input class="used-in-calc form-control" name="quote[Nb_Cage]" id="quote_Nb_Cage" type="text">
                    </div>
                    <div class="col-md-4 r-form r-form-cor r-form-hyb mt-40">
                        <label for="quote_Nb_OccupantPerFloor">Nb Occupant/Floor </label>
                        <input class="used-in-calc form-control" name="quote[Nb_OccupantPerFloor]" id="quote_Nb_OccupantPerFloor" type="text">
                    </div>
                    <div class="col-md-4 r-form r-form-hyb mt-40">
                        <label for="quote_Nb_OperatingHour">Hours of activities/day</label>
                        <select id="actHours" class="form-control pointer" name="quote[Nb_OperatingHour]">
                            <option value="">-Select-</option>
                        </select>
                    </div>
                </div>

                <!-- radio buttons -->
                <div class="row">
                    <div class="col-md-12 r-form r-form-elev mt-40">
                        <label>Product </label>
                        <label class="radio" for="quote-form:std">
                            <input class="radio-prod" type="radio" name="quote[Product_Grade]" value="std" id="quote-form:std">
                            <i></i> Standard
                        </label>
                        <label class="radio" for="quote-form:prem">
                            <input class="radio-prod" type="radio" name="quote[Product_Grade]" value="prem" id="quote-form:prem">
                            <i></i> Premium
                        </label>
                        <label class="radio" for="quote-form:exc">
                            <input class="radio-prod" type="radio" name="quote[Product_Grade]" value="exc" id="quote-form:exc">
                            <i></i> Excelium
                        </label>
                    </div>
                </div>

                <div class="row">
                    <p id="error-msg"></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 mt-40 ">
                <!-- Elevator calc + price -->
                <div class="toggle-transparent toggle-bordered-full clearfix">
                    <div class="active">
                        <div class="toggle-content">
                            <div class="clearfix">
                                <div class="float-right"></div>
                                <strong class="float-left"># Nb Of Elevators</strong>
                            </div>
                            <div class="clearfix">
                                <strong class="float-left"> Suggested</strong>
                                <input id="calc-elev" type="text" class="float-right" name="quote[Nb_Ele_Suggested]" value="" readonly>
                            </div>
                            <hr />
                            <div class="clearfix">
                                <strong class="float-left">Price/Elevator:</strong>
                                <input id="calc-elev-price" type="text" class="float-right" name="quote[Price_Per_Ele]" value="" readonly>
                            </div>
                            <hr />
                            <div class="clearfix">
                                <strong class=" float-left">Subtotal:</strong>
                                <input id="calc-subtotal" type="text" class="float-right" name="quote[Subtotal]" value="" readonly>
                            </div>
                            <hr />
                            <div class="clearfix">
                                <strong class="float-left">Install fee:</strong>
                                <input id="calc-tax" type="text" class="float-right" name="quote[Install_Fee]" value="" readonly>
                            </div>
                            <hr />
                            <div class="clearfix">
                                <strong class="float-left">TOTAL:</strong>
                                <input id="calc-total" type="text" class="float-right" name="quote[Final_Price]" value="" readonly>
                            </div>
                            <hr />
                            <div>
                                <%= recaptcha_tags %>
                            </div>
                            <div class="mt-20 ml-10">
                                <%= f.submit("Submit", :class => "btn btn-primary btn-lg btn-block fs-15")  %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /RIGHT -->
    </div>
    </div>
    <% end %>
</section>
<!-- /FORM -->
<%= javascript_include_tag "calculator" %>